@use "src/styles/variables" as *;
.stream-filter {
  display: flex;
  align-items: center;
  gap: 6px;

  &__label {
    font-size: 12px;
    opacity: 0.7;
  }

  &__select {
    height: 28px;
    min-width: 160px;
    padding: 0 8px;

    font-size: 13px;

    background: var(--color-background-block);
    color: var(--color-text);

    border: 1px solid var(--color-text-secondary);
    border-radius: 4px;

    outline: none;

    &:focus {
      border-color: var(--color-primary);
    }
  }
}
